<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :advisor_notes %><br>
    <%= f.text_area :advisor_notes %>
  </div>
  <div class="field">
    <%= f.label :advisor_student_notes %><br>
    <%= f.text_area :advisor_student_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
