<p id="notice"><%= notice %></p>

<p>
  <strong>Advisor notes:</strong>
  <%= @note.advisor_notes %>
</p>

<p>
  <strong>Advisor student notes:</strong>
  <%= @note.advisor_student_notes %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
