<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have an Advisement Session scheduled ! </h1>
    <p>Start Time: <%= @appointment.start_time%></p>
    <p>End Time: <%= @appointment.end_time%></p>
    <p>Student Name: <%= @user.username%></p>
  </body>
</html>