<div class="col-md-6 col-md-offset-3">
  <%= form_for([@user], :html => {:class => "form"}) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="form-group">
      <%= f.label :username, :class => "sr-only"%>
      <%= f.text_field :username, :class => "form-control", :placeholder => "Username"%>
    </div>


    <div class="form-group">
      <%= f.label :email, :class => "sr-only"%>
      <%= f.text_field :email, :class => "form-control", :placeholder => "Email"%>
    </div>


    <div class="form-group">
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, {}, {class: :"checkbox"} %>
    </div>
    

    <%= f.submit "Submit", :class => "btn btn-default" %>
    <%#= link_to "Delete", transaction_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %>        
  <% end %>

</div>
