<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @degree.name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @degree.document %>
</p>

<p>
  <strong>College:</strong>
  <%= @degree.college %>
</p>

<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
