

<h2>Welcome to Student Advising System</h2>

<% if !current_user.nil? %>
   <%=link_to "notes", notes_path %>
<%=link_to "degrees", degrees_path %>
  <%=link_to "Current appointments", user_appointments_path(current_user) %>
<% end %>

