<%= form_for([@current_user, @appointment]) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
       <%#= f.label :student %><br>
       <%#= f.text_field :student_id %>
       </div>
     -->
  <!-- <div class="field">
       <%#= f.label :note %><br>
       <%#= f.text_field :note_id %>
       </div> -->
  
  <div class="form-group">
    <%= f.label :advisor %> 
    <%= f.collection_select :user_id, User.get_advisors, :id, :username, {}, {:class => "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn" %>
  </div>
<% end %>
