<p id="notice"><%= notice %></p>

<h1>Listing appointments</h1>

<table border="1">
  <thead>
    <tr>
      <th>Appointment_id</th>
      <th>Date</th>
      <th>Start tme</th>
      <th>End Time</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.id %></td>
        <td><%= appointment.start_time.to_date %></td>
        <td><%= appointment.start_time.to_s(:time) %></td>
        <td><%= appointment.end_time.to_s(:time) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New appointment', new_user_appointment_path %>
