<p id="notice"><%= notice %></p>

<p>
  <strong>Credit:</strong>
  <%= @appointment.student_id %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @appointment.user_id %>
</p>

<%= link_to 'Edit', edit_user_appointments_path(@appointment) %> |
<%= link_to 'Back', user_appointments_path %>
